@media screen and (min-width: 0) {
    .destaques__principal, .destaques__categorias  {
        grid-column: 1 / span 4;
    }

    .destaques__secundario:nth-child(2) {
        display: none;
        grid-row: none;
        grid-column: none;
    }
    
    .destaques__secundario:nth-child(3) {
        display: none;
        grid-row: none;
        grid-column: none;
    }
    
    .destaques__secundario:nth-child(4) {
        display: none;
        grid-row: none;
        grid-column: none;
    }
    
    .destaques__secundario:nth-child(5) {
        display: none;
        grid-row: none;
        grid-column: none;
    }

    .populares__conteudo {
        flex-direction: column;
    }

    .populares__card {
        grid-template-rows: 200px auto;
        margin-bottom: 3rem;
        margin-right: 0;
        width: 100%
    }
}

@media screen and (min-width: 768px) {
    .destaques__principal {
        grid-column: 1 / span 3;
    }

    .destaques__secundario:nth-child(2) {
        display: flex;
        grid-row: 1 / span 1;
        grid-column: 4 / span 1;
    }
    
    .destaques__secundario:nth-child(3) {
        display: flex;
        grid-row: 2 / span 1;
        grid-column: 4 / span 1;
    }
    
    .destaques__secundario:nth-child(4) {
        display: flex;
        grid-row: 3 / span 1;
        grid-column: 4 / span 1;
    }
    
    .destaques__secundario:nth-child(5) {
        display: flex;
        grid-row: 3 / span 1;
        grid-column: 3 / span 1;
    }

    .destaques__categorias  {
        grid-column: 1 / span 2;
    }

    .populares__conteudo {
        flex-direction: row;
    }

    .populares__card {
        margin-right: 1rem;
        width: calc(50% - 1rem)
    }
}

@media screen and (min-width: 992px) {
    .populares__card {
        width: calc(33.33% - 1rem)
    }
}

@media screen and (min-width: 1200px) {
    .populares__card {
        margin-bottom: 0;
        width: calc(20% - 1rem)
    }
}